<!DOCTYPE html>
<html>
  <head>
    <meta name="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Βιβλιοπωλείο</title>
  </head>
  <body>
<!--     <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-3 p404 text-center"> -->
          <img src="/img/404.png">
          <h1>ΜΗΝ ΠΑΝΙΚΟΒΑΛΕΣΑΙ!!</h1>
          <h3>Η σελίδα που ψάχνεις δεν υπάρχει.</h3>
          <br>
          <h5>Ίσως να σε ενδιαφέρουν αυτές οι σελίδες</h5>
          <p><a href="/">Αρχική</a> | <a href="/help">Βοήθεια</a> | <a href="/contact"> Επικοινωνία</a></p>
<!--         </div>
      </div>
    </div> -->
  </body>
</html>