<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
    <img src="/img/404.png">
    <h1>ΜΗΝ ΠΑΝΙΚΟΒΑΛΕΣΑΙ!!</h1>
    <h3>Η σελίδα που ψάχνεις δεν υπάρχει.</h3>
</div>