<% include ./partials/header %>
<% include ./partials/indexNav %>

<div class="row path">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb arr-right">
        <li class="breadcrumb-item"><a href="/">Αρχική Σελίδα</a></li>
        <li class="breadcrumb-item active" aria-current="page">Επικοινωνία</li>
      </ol>
    </nav>
</div>

<div class="titles">
  <h1>Επικοινωνία</h1>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

<br />

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Όνομα</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label>Επώνυμο</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label>Τηλέφωνο</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Θέμα</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Μήνυμα</label>
            <textarea type="text" rows="4" class="form-control"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Αποστολή</button>
      </form>
      </div>
    </div>
    </div>

<% include ./partials/footer %>
