<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Βιβλιοπωλείο</title>
  </head>
  <body>
      <h1>Aρχική σελίδα</h1>
  </body>
</html>