<% include ./partials/header %>

<% if(currentUser) {%>
  <% if(currentUser.userType === "student"){ %>
    <% include ./partials/studentNav %>
  <% } else if(currentUser.userType === "provider"){ %>
    <% include ./partials/providerNav %>
  <% } %>
<%} else { %>
  <% include ./partials/indexNav %>
<% } %>


<div class="row path">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb arr-right">
        <li class="breadcrumb-item"><a href="/">Αρχική Σελίδα</a></li>
        <% if(type === "student") { %>
          <li class="breadcrumb-item"><a href="/student">Φοιτητής</a></li>
        <% } else if(type === "provider") { %>
          <li class="breadcrumb-item"><a href="/provider">Διαθέτης</a></li>
        <% } %>
        <li class="breadcrumb-item active" aria-current="page">Βοήθεια</li>
      </ol>
    </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <% if(type === "student"){%>
            <div class="card-body">
              <b>1. Μπορεί ο φοιτητής να δηλώσει και να παραλάβει συγγράμματα για μαθήματα/θεματικές ενότητες προηγούμενων εξαμήνων;</b>
              <br />
              Ναι, εφόσον ο φοιτητής δεν έχει εξεταστεί επιτυχώς στο συγκεκριμένο μάθημα/θεματική ενότητα και δεν έχει παραλάβει ήδη σύγγραμμα για το μάθημα/θεματική ενότητα αυτό τα προηγούμενα εξάμηνα.

              Ακόμα και αν το σύγγραμμα του μαθήματος/θεματικής ενότητας έχει αλλάξει σε περίπτωση που ο φοιτητής έχει παραλάβει ήδη σύγγραμμα για το εν λόγω μάθημα/θεματική ενότητα στο παρελθόν δεν δικαιούται να παραλάβει νέο σύγγραμμα στο ίδιο μάθημα/θεματική ενότητα.
              <br />
              <b>2. Τι σημαίνει όταν δίπλα σε κάποιο Σύγγραμμα εμφανίζεται η ένδειξη "Διαθεσιμότητα: 0";</b>
              <br />
              Σημαίνει πως δεν υπάρχουν αντίτυπα του Συγγράμματος στο Σημείο Διανομής και ότι ο Εκδότης θα στείλει σύντομα νέα αντίτυπα. Με την άφιξη των νέων αντιτύπων η εφαρμογή ενημερώνεται αυτόματα, οπότε ο Φοιτητής μπορεί ανατρέχοντας στην εφαρμογή να ενημερώνεται για το διαθέσιμο απόθεμα.
              <br />
              <b>3. Μπορεί ο φοιτητής να επιλέξει Συγγράμματα και για άλλη περίοδο;</b>
              <br />
              Όχι, ο φοιτητής μπορεί να δηλώσει μόνο συγγράμματα/σειρές συγγραμμάτων για τα μαθήματα τα οποία ανήκουν στην τρέχουσα περίοδο, χειμερινή ή εαρινή.
              <br />
              <b>4. Με ποιους κωδικούς μπορούν οι φοιτητές να εισέλθουν στο σύστημα;</b>
              <br />
              Οι φοιτητές μπορούν να πιστοποιηθούν στο ΚΠΣ και να επιλέξουν Συγγράμματα με τους κωδικούς (username, password) που έχουν λάβει από το οικείο ίδρυμα.
            </div>
            <%}else if(type === "provider"){%>
            <div class="card-body">
              <b>1. Είναι δυνατή η διάθεση Συγγραμμάτων χωρίς να γίνει χρήση της υπηρεσίας «Εύδοξος»;</b>
              <br />
              Απαραίτητη για τη διάθεση Συγγραμμάτων στα Ιδρύματα της Τριτοβάθμιας Εκπαίδευσης από το ακαδημαϊκό έτος 2010-2011 είναι η χρήση της ηλεκτρονικής υπηρεσίας «Εύδοξος». Επισημαίνεται ότι στο Εύδοξος δεν συμμετέχουν οι Στρατιωτικές Σχολές. Από το ακαδημαϊκό έτος 2016-17 στην διανομή συγγραμμάτων μέσω του Εύδοξος συμμετέχει και το Ελληνικό Ανοιχτό Πανεπιστήμιο.
              <br />
              <b>2. Ποιοι έχουν δικαίωμα να καταχωρίσουν Συγγράμματα προς διάθεση;</b>
              <br />
              Δικαίωμα καταχώρισης Συγγραμμάτων προς διάθεση σε Πανεπιστήμια, Τ.Ε.Ι., Α.Ε.Α. και Ε.Α.Π. έχουν όσοι είναι δικαιούχοι ή/και έχουν αποκτήσει νομίμως τα δικαιώματα διανομής των αντίστοιχων Συγγραμμάτων.
              <br />
              <b>3. Μπορούν να διατεθούν ξενόγλωσσα Συγγράμματα μέσω του "Εύδοξος";</b>
              <br />
              Βεβαίως, αρκεί να υπάρξει κάποιος Διαθέτης ο οποίος να έχει το δικαίωμα διανομής τους στην Ελλάδα
              Ειδικά για τα ξενόγλωσσα Συγγράμματα σε τμήματα Ξένων Φιλολογιών, υπάρχει ειδικό καθεστώς για την προμήθεια αυτών των Συγγραμμάτων από το οικείο ίδρυμα μέσω μειοδοτικών διαγωνισμών.
              <br />
              <b>4. Μπορεί ο εκδότης να επιλέξει οποιοδήποτε από τα πιστοποιημένα για τον Εύδοξο Σημεία Διανομής?</b>
              <br />
              Ο εκδότης μπορεί να επιλέξει οποιοδήποτε από τα πιστοποιημένα Σημεία Διανομής, αφού προηγηθεί συνεννόηση-συμφωνία με τους υπευθύνους του Σημείου Διανομής.
            <%}%>
            </div>
      </div>
    </div>
</div>


<% include ./partials/footer %>
