<% layout("layouts/boilerplate")%>
<h1>Εγγραφή</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="firstname">Όνομα</label>
        <input class="form-control" type="text" id="firstname" name="firstname" required>
        <div class="valid-feedback">
            Φαίνεται σωστό!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="lastname">Επώνυμο</label>
        <input class="form-control" type="text" id="lastname" name="lastname" required>
        <div class="valid-feedback">
            Φαίνεται σωστό!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" id="email" name="username" required>
        <div class="valid-feedback">
            Φαίνεται σωστό!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Κωδικός</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Φαίνεται σωστό!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="usertype">Είδος χρήστη</label>
        <select class="form-control" type="text" id="usertype" name="usertype" required>
        <option selected disabled hidden>Επίλεξτε είδος χρήστη</option>
		<option value="reader">Αναγνώστης</option>
		<option value="author">Συγγραφέας</option>
		</select>

        <div class="valid-feedback">
            Φαίνεται σωστό!
        </div>
    </div>
    <button class="btn btn-success">Εγγραφή</button>
</form>