<% include ./partials/header %>
<% include ./partials/indexNav %>

<div class="row path">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb arr-right">
        <li class="breadcrumb-item"><a href="/">Αρχική Σελίδα</a></li>
        <li class="breadcrumb-item active" aria-current="page">Εγγραφή</li>
      </ol>
    </nav>
</div>

<div class="ma">
    <div class="col content">
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <ul class="nav flex-column">
        <li class="nav-item ">
          <a class="nav-link" href="/registerStudent">
          <div class="btn btn-mdb-color btn-block">
            <p>Εγγραφή Φοιτητή</p>
          </div>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
          <div class="btn btn-mdb-color btn-block">
            <p>Εγγραφή Γραμματείας</p>
          </div>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
          <div class="btn btn-mdb-color btn-block">
            <p>Εγγραφή Βιβλιοθηκών</p>
          </div>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
          <div class="btn btn-mdb-color btn-block">
            <p>Εγγραφή Σημείων διανομής</p>
          </div>
          </a>
        </li>
        <a>
        <li class="nav-item ">
          <a class="nav-link" href="/registerProvider">
            <div class="btn btn-mdb-color btn-block">
              <p>Εγγραφή διαθέτη δωρεάν
                <br />
              ηλ. συυγραμμάτων/
              <br />
              σημειώσεων</p>
            </div>
          </a>
        </li>
      </ul>
    </a>

      </div>
    </div>

      </div>

<% include ./partials/footer %>
