<% include ../partials/header %>
<% include ../partials/providerNav %>

<div class="row path">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb arr-right">
        <li class="breadcrumb-item"><a href="/">Αρχική Σελίδα</a></li>
        <li class="breadcrumb-item active"><a href="/provider">Διαθέτης</a></li>
        <li class="breadcrumb-item active" aria-current="page">Καταχώρηση συγγραμμάτων</li>
      </ol>
    </nav>
</div>

<div class="titles">
  <h1>Καταχώρηση συγγραμμάτων</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 bt">
      <form action="/provider/recordBooks" method="post" class="form-horizontal" id="recordForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Τίτλος</label>
            <input class="form-control" type="text" name="note[title]">
          </div>
          <div class="form-group col-md-6">
            <label>Συγγραφέας</label>
              <input class="form-control" type="text" name="note[author]">
          </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary float-right">Υποβολή</button>
        </div>
      </form>
      <a href="javascript:history.back()">Πίσω</a>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/recordBooks.js"></script>

<% include ../partials/footer %>
