<% include ../partials/header %>
<% include ../partials/studentNav %>

<div class="row path">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb arr-right">
        <li class="breadcrumb-item"><a href="/">Αρχική Σελίδα</a></li>
        <li class="breadcrumb-item active" aria-current="page">Φοιτητής</li>
      </ol>
    </nav>
</div>

<% include ../partials/footer %>
